<div th:fragment="main-header">
  <!-- Loader -->
  <div id="loader" class="loading">
    <div class="spinner"></div>
  </div>
  <!-- End of Loader -->

  <!-- Nav Bar -->
  <nav class="nav">
    <div class="controls">
      <div class="user">
        <button>
          <img src="/images/person.svg" alt="">
        </button>
      </div>
      <!-- Logo -->
      <div class="logo">
        <button>
          <img src="/images/logo.png" alt="Shayan">
          <h2>Shayan Box</h2>
        </button>
      </div>
      <!-- End of Logo -->
      <!-- Menu -->
      <div class="menu">
        <button>
          <img src="../images/menu.svg" alt="Menu">
        </button>
      </div>
      <!-- End of Menu -->
    </div>
    <div>
      <!-- Search Bar -->
      <div class="search-container">
        <img src="/images/search.svg" alt="">
        <input type="text" placeholder="جستجوی محصولات">
      </div>
      <!-- End of Search Bar -->
    </div>
  </nav>
  <!-- End of Nav Bar -->

</div>