<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/cats.css}">
</head>
<body th:class="${preferredTheme}">
    <div th:replace="fragments/common.html :: header"></div>

    <section class="main">
      
      <div class="products-container">

        <div th:each="product : ${category.products}">
          <div class="product-card">
            <a th:href="@{/products/{id}(id=${product.id})}">
              <img width="150px" height="150px" th:src="@{/images/{id} (id=${product.imageName})}" alt="">
              <h6 th:text="${product.name}">Product Name</h6>
            </a>
            <p th:text="${product.description}">Product Description</p>
            <span th:text="${product.price}">Price</span>
          </div>
        </div>

      </div>

      <div class="side">
        <img width="150px" height="150px" th:src="@{/images/{id} (id=${category.imageName})}" alt="">
        <h6 th:text="${category.name}">Category Name</h6>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
      </div>

    </section>

    <div th:replace="fragments/common.html :: footer"></div>
    <script src="/js/loading.js"></script>
</body>