<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shayan Admin</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin-panel.css">
</head>
<body>
    <div th:replace="fragments/admin-header"></div>
    <h1>Manage gallery items below</h1>

    <table>
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>
            Title
          </th>
          <th>
            Full description
          </th>
          <th>
            Active
          </th>
          <th>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <div th:each="gallery : ${galleryItems}">
          <tr>
            <td><img th:src="'/gallery/images/' + ${gallery.id}" alt="Gallery image"></td>
            <td th:text="${gallery.title}"></td>
            <td th:text="${gallery.desc}"></td>
            <td th:text="${gallery.active ? 'True' : 'False'}"></td>
            <td><a th:href="@{'/admin/gallery/edit/' + ${gallery.id}}">Edit</a></td>
          </tr>
        </div>
      </tbody>
    </table>

    <a href="/admin/gallery/add">Add New</a>
    
    <script src="/js/loading.js"></script>
    <script src="/js/admin-header.js"></script>
</body>