<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shayan Box</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/js/index.js"></script>
</head>

<body class="light">
  <div th:replace="fragments/main-header"></div>

  <!-- Content slide -->
  <div class="content-parent">
    <div class="content-slider" id="slider">
      <div class="content">
        <div th:each="service : ${providedServiceItems}">
          <div class="content-item">
            <img th:src="'/service/images/' + ${service.id}" alt="Service Image">
            <p th:text="${item.title}">
              title
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="content-controls">
      <button id="left">
        <img src="/images/arrow-left.svg" alt="">
      </button>
      <button id="right">
        <img src="/images/arrow-left.svg" alt="">
      </button>
    </div>
  </div>
  <!-- End of Content slide -->

  <!-- Hero Section -->
  <section id="hero" class="hero">
    <div th:each="showcase : ${showcaseItems}">
      <div class="hero-item active">
        <div class="image">
          <a href="/showcase/${showcase.id}">
            <img th:src="'/showcase/images/' + ${showcase.id}" alt="Hero Item">
          </a>
        </div>
        <div>
          <p th:text="${showcase.desc}">
            desc
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Hero Section -->

  <!-- Photo Gallery -->
  <section class="photo-gallery">
    <div class="gallery-title">
      <h3>عنوان مثال</h3>
      <a href="">بیشتر ></a>
    </div>
    <div class="gallery-slider">
      <div th:each="gallery : ${galleryItems}">
        <div class="gallery-item">
          <img th:src="'/gallery/images/' + ${gallery.id}" alt="Gallery Image">
          <p th:text="${gallery.desc}">
            desc
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Photo Gallery -->

  <div th:replace="fragments/footer"></div>
    <script src="/js/loading.js"></script>
</body>

</html>