<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" th:href="@{/css/cats.css}">
  <style>
  </style>
</head>

<body>
  <div th:replace="fragments/common.html :: header"></div>

  <h2>همه محصولات</h2>

  <section class="main-full">

    <div class="products-container">

      <div th:each="product : ${products}">

        <div class="product-card">


          <div class="product-image">
            <img th:src="@{/images/{name} (name=${product.imageName})}" width="150px" height="150px"
              alt="Product Image">
          </div>

          <div class="product-details">
            <a th:href="@{/products/{id} (id=${product.id})}">
            <h2 th:text="${product.name}">Product Name</h2>
            <p th:text="${product.description}">Product Description</p>
            <span class="price" th:text="${product.price}">Product Price</span>
            </a>
          </div>

        </div>

      </div>

    </div>

  </section>

  <div th:replace="fragments/common.html :: footer"></div>
  <script src="/js/loading.js"></script>
</body>