<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shayan Admin</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin-panel.css">
</head>

<body th:class="${preferredTheme}">
  <div th:replace="fragments/admin-header"></div>
  <h1>Manage service items below</h1>


  <div class="table-parent">
    <table>
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>
            Title
          </th>
          <th>
            Active
          </th>
          <th>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <div th:each="service : ${serviceItems}">
          <tr>
            <td><img src="/service/images/${service.id}" alt="service image"></td>
            <td th:text="${service.title}"></td>
            <td th:text="${service.active ? 'True' : 'False'}"></td>
            <td><a class="edit" th:href="@{/admin/service/edit/{id}(id=${service.id})}">Edit</a></td>
            <td><a class="delete" th:href="@{/admin/service/delete/{id}(id=${service.id})}">Delete</a></td>
          </tr>
        </div>
      </tbody>
    </table>

    <a class="add" href="/admin/service/add">Add New</a>
  
  
  </div>


  <script src="/js/loading.js"></script>
  <script src="/js/admin-header.js"></script>
</body>