<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shayan Admin</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin-panel.css">
</head>
<body th:class="${preferredTheme}">
    <div th:replace="fragments/admin-header"></div>
    <h1>Manage showcase items below</h1>

    <table>
      <thead>
        <tr>
          <th>
            Image
          </th>
          <th>
            Title
          </th>
          <th>
            Full description
          </th>
          <th>
            Active
          </th>
          <th>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <div th:each="showcase : ${showcaseItems}">
          <tr>
            <td><img th:src="'/showcase/images/' + ${showcase.id}" alt="Showcase image"></td>
            <td th:text="${showcase.title}"></td>
            <td th:text="${showcase.desc}"></td>
            <td th:text="${showcase.active ? 'True' : 'False'}"></td>
            <td><a th:href="@{/admin/showcase/edit/{id}(id=${showcase.id})}">Edit</a></td>
          </tr>
        </div>
      </tbody>
    </table>

    <a href="/admin/showcase/add">Add New</a>
    
    <script src="/js/loading.js"></script>
    <script src="/js/admin-header.js"></script>
</body>