<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shayan Admin - Add</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin-panel.css">
</head>
<body>
    <div th:replace="fragments/admin-header"></div>
    <h1>Add new Showcase item</h1>
    <!-- <c:if test="${not empty message}">
        <div class="alert alert-info">
            <c:out value="${message}"/>
        </div>
    </c:if> -->
    
    <form method="POST"
           th:action="@{/admin/showcase/edit/{id}(id=${showcaseItem.id})}"
           th:object="${showcaseItem}">
    
        <!-- Title Field -->
        <div class="form-group">
            <label th:field="*{title}">Title:</label>
            <input th:field="*{title}" type="text" class="form-control" />
        </div>
        
        <!-- Description Field -->
        <div class="form-group">
            <label th:field="*{desc}">Description:</label>
            <textarea th:field="*{desc}" class="form-control" rows="3" />
        </div>

        <!-- Featured Checkbox -->
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" th:field="*{active}" class="form-check-input" />
                <label th:field="*{active}" class="form-check-label">
                    Activate this item
                </label>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="/js/loading.js"></script>
    <script src="/js/admin-header.js"></script>
</body>